*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

input[type=text]{
    display: block;
    border: 1px solid green;
    width: 80%;
    margin: 1em auto;
}

button{
    display: block;
    margin-left: 8em;
}

.wrapper{
    margin: 0 auto;
    width: 80%;
}

.chat-box{
    display: block;
    height: 25em;
    width: 80%;
    padding: 1em;
    margin: auto;
    border: 1px solid blue;
}
